<!-- start of search bar -->
<div class="container search-bar-container">
  <div class="row">
    <div class="search-bar">
      <div class="search-bar-title col-md-12 col-md-offset-2">
        <span>Search Directory</span>
      </div>
      <div class="form-group col-sm-6 col-xs-6 col-md-6 col-lg-6 col-xl-6 col-md-offset-2">
        <input type="text" [(ngModel)]="searchText" (input)="onSearchChange($event.target.value)" class="form-control" id="search-bar"
          name="search-bar">
          <!-- <input type="text" [formControl]="searchText"  class="form-control" id="search-bar"
          name="search-bar"> -->
      </div>
      <div class="form-group col-sm-3 col-xs-3 col-md-3 col-lg-3 col-xl-3">
        <button class="btn btn-primary">Search</button>
      </div>
      <div class=" form-group search-result col-xs-6 col-md-offset-2">
        <div class="search-result-section" *ngIf="flag">
          <div *ngFor="let building of listOfBuildings | filter : searchText" class=" col-md-12 ">
              <!-- <div *ngFor="let building of listOfBuildings" class=" col-md-12 "> -->
              <a href="/home/{{building.name}}" class="search-item" (click)="setCurrentUrl(building.name,building.id)">{{building.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of search Bar -->


<!-- categories display -->
<div class="container categories-container">
  <div class="row">

    <div class="categories">
      <div class="category-title" style="margin-left: 10px;">
        <span>Categories</span>
      </div>
      <div class="{{category.category}} col-xs-12 col-md-3 col-lg-3 col-xl-3 col-sm-3" *ngFor="let category of categoriesList; let i=index;">

        <a href="/home/category/{{category.category}}"   (click)="getCategory(category.id,category.category)">
          <div class="image-container">
            <img src="{{category.images}}" alt="{{category.category}}" class="img img-responsive">
          </div>
        </a>
        <span class="centered">{{category.category | titlecase}}</span>
        
      </div>
     
    </div>
  </div>
 

<!-- End of Categories Display -->

<!-- start of featured page -->

<div class="container">
  <div class="row">
    <div class="featured-adds">
      <div class="featured-adds-header">Featured Adds</div>
      <div class="featured-adds-container" style="margin-top: 40px; margin-bottom: 20px;">
        <div class="featured-adds-content" style="margin-left: 30px;margin-right: 30px;">
          <section class="responsive slider">
            <div>
              <a href="#">
                <img src="assets/image/img.jpg" alt="ads">
                <span style="text-align:justify;color: black;">SoftWeb Developers brings the best services 
                  <!-- for you at beast and cheap price. Hurry up and grab your Opportunity.
                  Contact us for web development, Domain Registration, Web hosting and many different Web services.
                  We specialise in Java, Php, Wordpress,CI,Angular -->
                
                </span>
              </a>
            </div>
            <div>
              <img src="assets/image/img.jpg">
              <span style="text-align:justify;color: black;">SoftWeb Developers brings the best services 
                <!-- for you at beast and cheap price. Hurry up and grab your Opportunity.
                Contact us for web development, Domain Registration, Web hosting and many different Web services.
                We specialise in Java, Php, Wordpress,CI,Angular -->
              
              </span>
            </div>
            <div>
              <img src="assets/image/img1.jpg">
              <span style="text-align:justify;color: black;">SoftWeb Developers brings the best services 
                <!-- for you at beast and cheap price. Hurry up and grab your Opportunity.
                Contact us for web development, Domain Registration, Web hosting and many different Web services.
                We specialise in Java, Php, Wordpress,CI,Angular -->
              
              </span>
            </div>
            <div>
              <img src="assets/image/img2.jpg">
              <span style="text-align:justify;color: black;">SoftWeb Developers brings the best services 
                <!-- for you at beast and cheap price. Hurry up and grab your Opportunity.
                Contact us for web development, Domain Registration, Web hosting and many different Web services.
                We specialise in Java, Php, Wordpress,CI,Angular -->
              
              </span>
            </div>
            <div>
              <img src="assets/image/img3.png">
              <span style="text-align:justify;color: black;">SoftWeb Developers brings the best services 
                <!-- for you at beast and cheap price. Hurry up and grab your Opportunity.
                Contact us for web development, Domain Registration, Web hosting and many different Web services.
                We specialise in Java, Php, Wordpress,CI,Angular -->
              
              </span>
            </div>
            <div>
              <img src="assets/image/img4.jpg">
              <span style="text-align:justify;color: black;">SoftWeb Developers brings the best services 
                <!-- for you at beast and cheap price. Hurry up and grab your Opportunity.
                Contact us for web development, Domain Registration, Web hosting and many different Web services.
                We specialise in Java, Php, Wordpress,CI,Angular -->
              
              </span>
            </div>
            <div>
              <img src="assets/image/img1.jpg">
              <span style="text-align:justify;color: black;">SoftWeb Developers brings the best services 
                <!-- for you at beast and cheap price. Hurry up and grab your Opportunity.
                Contact us for web development, Domain Registration, Web hosting and many different Web services.
                We specialise in Java, Php, Wordpress,CI,Angular -->
              
              </span>
            </div>
            <div>
              <img src="assets/image/img2.jpg">
              <span style="text-align:justify;color: black;">SoftWeb Developers brings the best services 
                <!-- for you at beast and cheap price. Hurry up and grab your Opportunity.
                Contact us for web development, Domain Registration, Web hosting and many different Web services.
                We specialise in Java, Php, Wordpress,CI,Angular -->
              
              </span>
            </div>
            <div>
              <img src="assets/image/img3.png">
              <span style="text-align:justify;color: black;">SoftWeb Developers brings the best services 
                <!-- for you at beast and cheap price. Hurry up and grab your Opportunity.
                Contact us for web development, Domain Registration, Web hosting and many different Web services.
                We specialise in Java, Php, Wordpress,CI,Angular -->
              
              </span>
            </div>
            <div>
              <img src="assets/image/img4.jpg">
              <span style="text-align:justify;color: black;">SoftWeb Developers brings the best services 
                <!-- for you at beast and cheap price. Hurry up and grab your Opportunity.
                Contact us for web development, Domain Registration, Web hosting and many different Web services.
                We specialise in Java, Php, Wordpress,CI,Angular -->
              
              </span>
            </div>
          </section>
      </div>
    </div>
  </div>
</div>
<!-- End of Featured Page -->

