.container{
    width: 960px;
}
.hotel,.hospital,.parks,.temple,.restaurant,.campus,.SoftWeb{
    position: relative;
    
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.image-container{
    background:black;
    box-shadow: 0 0 9px -1.2px rgba(0, 0, 0, 0.65);
  
}
.image-container img{
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 100%;
    height: 150px;
}
.image-container img:hover{
    -webkit-transition: -webkit-transform 1s;
    transition: ease-in-out 1s;
    transform: scale(1.2);
    opacity: 1;
}
.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.category-desc{
    position: absolute;
    top: 65px;
    left: 10px;
    font-size: 14px;
    color: #fbf5f5;
}
.ad-container{
    margin: 30px 0px;
}
.ad-header{
    text-align: center;
    font-size: 14px;

}
.ad-img img{
    height: 150px;
}
.ad-header label{
    font-size: 20px;
    padding-top: 10px;
}

.featured-adds-header {
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 15px;
    /* padding-top: 30px; */
}
/* 
.footer-header{
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: #384D6C;
    
    margin-top:20px;
    margin-bottom: 20px;

}
.footer-header-caption{
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    color: #FD3753;
}
.footer-credit{
    padding-top:15px;
    padding-bottom: 15px; 
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    font-family: cursive;
}
.footer-credit-copyright{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 15px;
} */
.search-bar{
    position: relative;
    margin-left: 45px;
    
}
.search-result{
    position: absolute;
    top: 75px;
    
}
.search-result-section{
    z-index:99;
    overflow: auto;
    -webkit-box-shadow: 0 7px 4px #777;
	-moz-box-shadow: 0 7px 4px #777;
	box-shadow: 0 7px 4px #777;
}
a{
    font-size: 16px;
    color: #777;

}
a:hover{
    text-decoration: none;
    color: cadetblue;
}
.search-bar-container{
    margin-top: 50px;
    margin-bottom: 30px;
}
.search-bar form> .form-group{
    padding-left: 0px;
    padding-right: 0px;
}
.search-bar input{
    border-radius: 0px;
}
.search-bar-title,.category-title{
    font-size: 30px;
}

.search-bar button{
border-radius: 0px;
}























/* slick-carousel */

* {
    box-sizing: border-box;
  }
  .slider {
      /* width: 50%; */
      margin: 100px auto;
  }
  .slick-slide {
    margin: 0px 20px;
  }
  .slick-slide img {
    width: 100%;
  }
  .slick-prev:before,
  .slick-next:before {
    color: black;
  }
  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
  }
  .slick-active {
    opacity: 1;
  }
  .slick-current {
    opacity: 1;
  }
  .slick-prev, .slick-next {
    font-size: 0px;
    line-height: 3;
    position: absolute;
    top: 3%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: black;
    border-radius: 15px;
    border: none;
    background-color: black;
    outline: none;
    
}