<nav class="navbar navbar-default menu-header">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home/view" routerLinkActive="active" >Home</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li *ngFor="let menu of categories; let i=index">
          <a  href="/home/category/{{menu.category}}" (click)="getNavigationId(menu.id,menu.category)">{{menu.category | titlecase}}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <!-- <li>
          <a href="#">Hospitals</a>
        </li>
        <li>
          <a href="#">Restaurants</a>
        </li>
        <li>
          <a href="#">Parks</a>
        </li>
        <li>
          <a routerLink="/home/hotels" routerLinkActive="active">Hotels</a>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More...
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Motels</a>
            </li>
            <li>
              <a href="#">Temples</a>
            </li>
            <li>
              <a href="#">Software Companies</a>
            </li>
          </ul>
        </li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf ="!flag">
        <li>
          <a routerLink="/home/login">Login</a>
          <!-- <app-login (refresh)="changeFlag($event)"></app-login> -->
          <li>
            <a routerLink="/home/register">Register</a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf ="flag">
        <li>
          <a (click)="Logout()">Logout</a>
          <li>
            <a routerLink="/home/register">Register</a>
          </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>