
.menu-header{
    background-color: #fff;
}
.container{
    width: 960px;
}
a{
    font-size: 16px;
}
.login-container{
    width: 100%;
    margin-left: 15px;
    margin-right:15px;
    margin-top:30px;
    margin-bottom: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 20px;
}
.form-title{
    padding-top: 10px;  
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    
}
.form-control{
    width: 50%;
}
.email-required{
    color: red;
}
li>a:hover{
    color: #337AB7;
    border-bottom: 2px solid #337AB7;
}