{{profiles.image}}
<div class="container-fluid" *ngIf="profiles.length>0">
  <div class="row">
    <div class="title col-md-12 col-lg-12" style="text-align: center">
      <h1> {{categoryname | titlecase}} in Hetauda </h1>
    </div>
    <div class="profile-Container col-md-12 col-lg-12" *ngFor="let profile of profiles; let i=index">
      <div class="profile" style="padding-top: 15px;">
        <!-- Image Column -->

        <div class="col-md-4 profile-img">
          <a href="#">
            <img src="{{profile.images}}" alt="profile image" class="img-responsive" >
          </a>
        </div>

        <!-- End of Image Column -->

        <!-- start of Description -->

        <div class="profile-descritpion col-md-6">
          <div class="name">
            <span>
              <h3>
                <a href="#">{{profile.name}}</a>
              </h3>
            </span>
          </div>
          <div class="description">
            <span style="text-align: justify">
              {{profile.description}}
              <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorum deleniti placeat reprehenderit?
              Eveniet, laborum ad molestias, consequatur mollitia quos nisi soluta quasi optio necessitatibus possimus, in
              minima voluptatibus atque!
            </span>
          </div>
        </div>

        <!-- End of Description -->

        <!-- start of profile address section -->
        <div class="profile-address col-md-2">
          <div class="address">
            <span>
              <h3>
                {{profile.address}}
              </h3>
            </span>
          </div>
          <div class="profile-visit btn">
            <div class="visit-btn" style="margin-top: 30px; margin-bottom: 10px;">
              <a routerLink="/home/{{profile.name}}" routerLinkActive="true"><button class="btn btn-primary"  (click)="setRoute(profile.name,profile.id)">Visit</button></a>
            </div>
            <div class="contact-btn">
              <a href="mailto:info@guptabibek.com.np">
                <button class="btn btn-info">Contact</button>
              </a>
            </div>
          </div>
          
        </div>
        <!-- End of Address section -->

      </div>


    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="profiles.length <= 0">
  <div class="pageNotFound">
    <h3>
      Sorry, The Page You Are looking For Can't Be Found !!!!
    </h3>
  </div>
</div>