
.profile-Container{
    background-color: #FFFFFF;
    height: auto;
    border: 1px solid #F2F2F2;
    overflow: auto;
    width: 70%;
    margin: 10px 20px;
    /* box-shadow: 1px 2px 1px 0px #13AD89;    */

}
.profile-Container:hover{
    box-shadow: 1px 2px 5px 1px #13AD89;   
}
button{
    background-color: #13AD89;
    color: #FFFFFF;
    width: 100px;
    border-radius: 0px;
    border: none;
    box-shadow: 1px 2px 1px 0px #13AD89;
}
button:hover{
    background-color: #13AD89;
}