body {
    color: #4e4e4e;
    background: #e2e2e2;
    font-family: 'Roboto', sans-serif;
}
.form-control {
    font-size: 16px;
    background: #f2f2f2;
    box-shadow: none !important;
    border-color: transparent;
}
.form-control:focus {
    border-color: #d3d3d3;
}
.form-control, .btn {        
    border-radius: 2px;
}
.login-form {
    width: 380px;
    margin: 0 auto;
}
.login-form h2 {		
    margin: 0;
    padding: 30px 0;
    font-size: 34px;
}
.login-form .avatar {
    margin: 0 auto 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 9;
    /* background: #ef3b3a; */
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar img {
    width: 100%;
}
.login-form form {
    color: #7a7a7a;
    border-radius: 4px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;		
}	
.login-form .btn {
    font-weight: bold;
    background: #ef3b3a;
    border: none;
    margin-bottom: 20px;
}
.login-form .btn:hover, .login-form .btn:focus {
    background: #ed2121;
    outline: none !important;
}
.login-form a {
    color: #ef3b3a;
}	
.login-form form a {
    color: #ef3b3a;
}
.login-form a:hover, .login-form form a:hover {
    text-decoration: underline;
}
.hint-text {
    color: #999;
    text-align: center;
}
.form-footer {
    padding-bottom: 15px;
    text-align: center;
}
.btn.btn-lg, .btn-group-lg .btn, .navbar .navbar-nav > li > a.btn.btn-lg, .btn-group-lg .navbar .navbar-nav > li > a.btn {
font-size: 14px;
padding: 10px 36px;
}