
<div class="login-form">
	<h2 class="text-center">Member Login</h2>
    <form [formGroup]="loginForm" (submit)="submitLoginForm()" >
		      <div class="avatar">
			        <img src="/assets/image/avatar.jpg" alt="Avatar">
		      </div>           
          <div class="form-group">
            	<input type="email" class="form-control input-lg" name="username" placeholder="Email" required="required"  formControlName="email">
          </div>
	    	  <div class="form-group">
            <input type="password" class="form-control input-lg" name="password" placeholder="Password" required="required" formControlName="password" >
					</div>   
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Sign in</button>
         </div>
      </form>
    </div>
