.carousel-control.left{
    background-image: none;
}
.profile-container{
    overflow: hidden;
}
.map-container,.visitors{
    margin-top: 30px;
    margin-bottom: 50px;
}
.image-gallery{
    margin-top: 100px;
    padding-bottom: 50px;
    border: 1px solid #13ad89;
    overflow: auto;
}
agm-map{
    height: 500px;
}
.panel,.panel-heading{
    border:none;
    border-radius: 0px;
    background-color: #13ad89;
}
.btn-display-left{
    position: absolute;
    top: 75px;
    left: 0px;
    width: 30px;
}
.btn-display-right{
    width: 30px;
    position: absolute;
    top: 75px;
    right: 0;
    /* float: right; */
}

.carousel {
    position: relative;
    height: 185px;
}
.carousel-control.right ,.carousel-control-left{
    right: 0;
    left: auto;
    background-image: none;
    background-image: none;
    background-repeat: none;
}


.information,.amenities{
    border-left: 1px solid #13ad89;
}
.address-title,.services-title,.map-title,.total-visitors-title,.likes-title,.dislikes-title,.image-gallery-title{
    
    font-size: 18px;
    color: #000a12;
    font-weight: bold;
    margin-bottom: 8px;
}
.image-gallery-title{
    margin-left: 13px;
    padding-right: 50px;
}
.detailAddressList{
    color: #4A4A4A;
    margin-top: 10px;
    margin-bottom: 10px;
}
.detailAddressList a{
    text-decoration: none;
    color: #4A4A4A;
}

.total-visitors,.likes,.dislikes{
    display: inline-block;
}





/* rating system */


.rating ,.rated{
    --star-size: 3;  /* use CSS variables to calculate dependent dimensions later */
    padding: 0;  /* to prevent flicker when mousing over padding */
    border: none;  /* to prevent flicker when mousing over border */
    unicode-bidi: bidi-override; direction: rtl;  /* for CSS-only style change on hover */
    text-align: left;  /* revert the RTL direction */
    user-select: none;  /* disable mouse/touch selection */
    font-size: 3em;  /* fallback - IE doesn't support CSS variables */
    font-size: calc(var(--star-size) * 1em);  /* because `var(--star-size)em` would be too good to be true */
    cursor: pointer;
    /* disable touch feedback on cursor: pointer - http://stackoverflow.com/q/25704650/1269037 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
  .rated{
      color: gold;
  }
  /* the stars */
  .rating > label {
    display: inline-block;
    position: relative;
    width: 1.1em;  /* magic number to overlap the radio buttons on top of the stars */
    width: calc(var(--star-size) / 3 * 1.1em);
  }
  .rating > *:hover,
  .rating > *:hover ~ label,
  .rating:not(:hover) > input:checked ~ label {
    color: transparent;  /* reveal the contour/white star from the HTML markup */
    cursor: inherit;  /* avoid a cursor transition from arrow/pointer to text selection */
  }
  .rating > *:hover:before,
  .rating > *:hover ~ label:before,
  .rating:not(:hover) > input:checked ~ label:before {
    content: "★";
    position: absolute;
    left: 0;
    color: gold;
  }
  .rating > input {
    position: relative;
    transform: scale(3);  /* make the radio buttons big; they don't inherit font-size */
    transform: scale(var(--star-size));
    /* the magic numbers below correlate with the font-size */
    top: -0.5em;  /* margin-top doesn't work */
    top: calc(var(--star-size) / 6 * -1em);
    margin-left: -2.5em;  /* overlap the radio buttons exactly under the stars */
    margin-left: calc(var(--star-size) / 6 * -5em);
    z-index: 2;  /* bring the button above the stars so it captures touches/clicks */
    opacity: 0;  /* comment to see where the radio buttons are */
    font-size: initial; /* reset to default */
  }
  
.rating-box{
    border: 1px solid #13ad89;
}

  .rating-box-title
  {
        padding-top: 10px;
        padding-left: 10ox;
        padding-right: 10px;
        font-size: 18px;
        color: #000a12;
        font-weight: bold;
        border-bottom: 1px solid #4A4A4A;
  }


  .rating-star{
      width: 38%;
  }

  .userfeedback{
     margin: 10px;
      padding: 10px 10px;
      font-size: 14px;

      background: #f7f7f7;
  }


  .feedback-details{
    margin-top: 100px;
    padding-bottom: 50px;
    /* border: 1px solid #13ad89; */
    overflow: auto;
}