<div class="container" *ngFor="let detail of profileDetails" style="margin-top: -20px">
  <div class="row profile-container">
    <div class="profile">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center">{{detail.name}} Details</h3>
        </div>
      </div>
    </div>

    <div class="profileinformation">
      <div id="myCarousel" class="carousel slide col-md-4" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li *ngFor="let slide of imagesLists; let i= index;" data-target="#myCarousel" data-slide-to=i class="active"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="{{mainImage}}" alt="Los Angeles" style="width:100%;">
          </div>

          <div class="item" *ngFor="let im of imagesLists; let i=index;">
            <img src="{{im.image}}" alt="Chicago" style="width:100%;">
          </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="information col-md-4">
        <div class="address-title">
          Address
        </div>
        <div class="detailAddressList">
          <span>
            <i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;{{detail.address}}</span>
        </div>
        <div class="detailAddressList">
          <span>
            <i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;{{detail.phone}}</span>
        </div>
        <div class="detailAddressList">
          <span>
            <i class="fa fa-envelope"></i>&nbsp;&nbsp;
            <a href="#">{{detail.email}}</a>
          </span>
        </div>
        <div class="detailAddressList">
          <span>
            <i class="fa fa-globe"></i>&nbsp;&nbsp;&nbsp;
            <a href="#">{{detail.url}}</a>
          </span>
        </div>
      </div>
      <div class="amenities col-md-4">
        <div class="services-title">
          Services
        </div>
        <div class="services-available">
          <li *ngFor="let amenities of serviceArray; let i=index">
            {{amenities | titlecase}}
          </li>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- map container -->

<div class="container">
  <div class="row">
    <div class="map-container">
      <div class="map-title">
        Google Map Location
        <button class="btn btn-primary" (click)="locateMe()" style="float:right;margin-bottom: 20px;">Locate Me!</button>
      </div>
      <agm-map [latitude]="latitude" [longitude]="longitude" style="width:100%;">
          <agm-direction [origin]="origin" [destination]="destination">
            </agm-direction>
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>

<!-- End of Map container -->

<!-- star rating system -->

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="rating-box col-lg-6 col-md-6">
        <div class="rating-box-title">
          Review
        </div>
        <div class="rating-star ">
          <fieldset class="rating">
            <input name="rating" type="radio" id="rating1" value="5" (click)="getRatingStar(5)" />
            <label for="rating5" title="1 stars">☆</label>

            <input name="rating" type="radio" id="rating2" value="4" (click)="getRatingStar(4)" />
            <label for="rating4" title="2 stars">☆</label>

            <input name="rating" type="radio" id="rating3" value="3" (click)="getRatingStar(3)" />
            <label for="rating3" title="3 stars">☆</label>

            <input name="rating" type="radio" id="rating4" value="2" (click)="getRatingStar(2)" />
            <label for="rating2" title="4 stars">☆</label>

            <input name="rating" type="radio" id="rating5" value="1" (click)="getRatingStar(1)" />
            <label for="rating1" title="5 stars">☆</label>
          </fieldset>
        </div>
        <div class="rating-feedback">
          <form [formGroup]="feedBackForm" (submit)="postFeedBack()">
            <div class="form-group">
              <label for="feedback_title">Title Of Your Review</label>
              <input type="text" name="feedback_title" id="feedback_title" class="form-control" formControlName="feedback_title">
            </div>

            <div class="form-group">
              <label for="feedback">Say Something !</label>
              <textarea name="feedback" id="feedback" cols="7" rows="5" formControlName="feedback" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" [disabled]="!feedBackForm.valid || ! reviewStatus">Post Review</button>
              <!-- <button type="submit" class="btn btn-primary" [disabled]="!feedBackForm.valid ||!ratedflag">Post Review</button> -->

            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End of star Rating System -->


<!-- start of feedback section display -->
<div class="show-feedback">
  <div class="container">
    <div class="row">
      <div class="feedback-details">
        <div class="userfeedback col-lg-12 col-sm-12 col-md-12 col-xs-12" *ngIf="userFeedBacks.length>0" style="margin-bottom: 10px">
          <div *ngFor="let user of userFeedBacks">
            <span>
              <strong>{{username.name}}</strong>
            </span>
            <br>
            <span>Rated on {{user.updated_at}}</span>
            <br>
            <!-- <span>{{user.ratedStar}}</span> <br> -->
            <div class="rating-star " style="margin-bottom: 50px;">
              <fieldset class="rated">
                <label for="rating5" title="1 stars" *ngFor="let rating of ratedStarArray">★</label>
              </fieldset>

              <span>{{user.feedBack}}</span>
            </div>

          </div>
        </div>
        <div class="publicfeedback col-md-12 col-sm-12 col-lg-12" *ngFor="let detail of feedBacks">
          <span><strong>{{detail.name |uppercase}} </strong></span>&nbsp; has rated
          <span>{{detail.ratedStar}}&nbsp;&nbsp;stars</span> <br>
          <h4><span>{{detail.feedBack}}</span></h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of feedback display -->


<!-- image gallery -->


<div class="container">
  <div class="row">

    <div class="image-gallery col-md-12 col-lg-12">
      <div class="image-gallery-title col-md-12 col-lg-12">
        <span>Photos</span>
        <hr>
      </div>


      <div class="image-gallery-left col-md-6">
        <div class="image-btm-left col-md-6">
          <img src="assets/image/hotel.jpg" alt="" class="img-responsive thumbnail">
        </div>
        <div class="image-btm-right col-md-6">
          <img src="assets/image/hotel.jpg" alt="" class="img-responsive thumbnail">

        </div>

      </div>
      <div class="image-gallery-right col-md-6 col-lg-6">
        <div class="image-btm-right col-md-6">
          <img src="assets/image/hotel.jpg" alt="" class="img-responsive thumbnail">

        </div>
        <div class="image-btm-right col-md-6">
          <img src="assets/image/hotel.jpg" alt="" class="img-responsive thumbnail">

        </div>
        <div class="image-btm-right col-md-6">
          <img src="assets/image/hotel.jpg" alt="" class="img-responsive thumbnail">

        </div>
        <div class="image-btm-right col-md-6">
          <img src="assets/image/hotel.jpg" alt="" class="img-responsive thumbnail">

        </div>
      </div>
    </div>
  </div>
</div>

<!-- End of image galler -->