.user{
    overflow: auto;
    width: 50%;
    margin: 0 auto;
    -webkit-box-shadow: 0 7px 4px #777;
	-moz-box-shadow: 0 7px 4px #777;
	box-shadow: 0 2px 4px #777;
}
.user-registration{
    margin:30px 20px;
}
.registration-title{
    width: 50%;
    font-size: 25px;
    margin: 0 auto;
}