<div class="container-fluid">
  <div class="row">
    <div class="user">
      <div class="user-registration">
        <div class="registration-title">
          <span>Create Your Account</span>
        </div>
        <form [formGroup]="userForm" (submit)="register()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" formControlName="name">
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" formControlName="email">
          </div>
          <div class="form-group">
            <label for="pasword">Password</label>
            <input type="password" name="password" id="password" class="form-control" formControlName="password">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>