<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-lg-3">
      <div class="navigation-container">
        <div class="navigation-container-title">
          <div class="panel panel-primary" (click)="dashBoard()">
            <div class="panel-heading">
              <h3 class="panel-title">DashBoard
              </h3>
            </div>
          </div>
          <div class="panel panel-default category-panel">
            <div class="panel-heading">
              <h3 class="panel-title">Add Categories
              </h3>
              <div class="add-category-btn ">
                <h3>
                  <i class="fa fa-plus" id="addcategory" (click)="addCategory()"></i>
                </h3>
              </div>
            </div>
          </div>
          <div class="panel panel-default category-panel">
            <div class="panel-heading">
              <h3 class="panel-title">Manage Categories
              </h3>
              <div class="add-category-btn ">
                <h3>
                  <i class="fa fa-plus" id="addcategory" (click)="manageCategory()"></i>
                </h3>
              </div>
            </div>
          </div>
          <div class="panel panel-default category-panel">
            <div class="panel-heading">
              <h3 class="panel-title">Add Information
              </h3>
              <div class="add-information-btn">
                <h3>
                  <i class="fa fa-plus" id="addcategory" (click)="addInformation()"></i>
                </h3>
              </div>
            </div>
          </div>
          <div class="panel panel-default category-panel">
            <div class="panel-heading">
              <h3 class="panel-title">Add Images
              </h3>
              <div class="add-information-btn">
                <h3>
                  <i class="fa fa-plus" id="addcategory" (click)="addImage()"></i>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-9 col-lg-9" id="tab">

      <div class="navigation-content" id="tabbedCategories">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Manage Your Category Information Here</h3>
          </div>
        </div>
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" *ngFor="let list of categoryLists;let i = index;" [ngClass]="{'active':isActive === i}">
              <a id="{{list.category}}" aria-controls="home" role="tab" data-toggle="tab" (click)="tabForCategoryInformation(i,list.category,list.id)">{{list.category|titlecase}}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                    <th>Url</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngIf="infoLists?.length>0">
                  <tr *ngFor="let info of infoLists;let i=index">
                    <td>{{info.name}}</td>
                    <td>{{info.email}}</td>
                    <td>{{info.phone}}</td>
                    <td>{{info.url}}</td>
                    <td>
                      <i class="fa fa-eye" (click)="viewInformation(info.id,i)"></i>&nbsp;&nbsp;
                      <i class="fa fa-pencil text-primary" (click)="editInformation(i)"></i>&nbsp;&nbsp;
                      <i class="fa fa-trash text-danger" (click)="modalForDelete(info.id)"></i>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="infoLists?.length<=0">
                  <tr>
                    <td>No data Available</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- view for adding information -->
      <div class="addinformation" id="addinformation">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Add Information
            </h3>
          </div>
        </div>
        <div class="statusmsg" *ngIf="responsemsg">
          <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <span>{{responsemsg}}</span>
          </div>
        </div>
        <form [formGroup]="informationForm" (submit)="postInformation()">

          <div class="form-group col-md-4 col-lg-4">
            <label for="category">Category</label>
            <select name="categoryId" id="categoryId" class="form-control" formControlName="categoryId">
              <option value="">No category Selected</option>
              <option *ngFor="let list of categoryLists; let i=index" value="{{list.id}}">{{list.category}}</option>
            </select>
          </div>
          <div class="form-group col-md-4 col-lg-4">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" formControlName="name">
          </div>
          <div class="form-group col-md-4 col-lg-4">
            <label for="emal">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" formControlName="email">
          </div>
          <div class="form-group col-md-4 col-lg-4">
            <label for="url">URL</label>
            <input type="text" name="url" id="url" class="form-control" formControlName="url">
          </div>
          <div class="form-group col-md-4 col-lg-4">
            <label for="phone">Phone</label>
            <input type="tel" name="phone" id="phone" formControlName="phone" class="form-control">
          </div>
          <div class="form-group col-md-4 col-lg-4">
            <label for="address">Address</label>
            <input type="text" name="address" id="address" formControlName="address" class="form-control">
          </div>
          <div class="form-group col-md-4 col-lg-4">
            <label for="latitude">Latitude</label>
            <input type="text" name="latitude" id="latitude" class="form-control" formControlName="latitude">
          </div>
          <div class="form-group col-md-4 col-lg-4">
            <label for="longitude">Longitude</label>
            <input type="text" name="longitude" id="longitude" class="form-control" formControlName="longitude">
          </div>
          <div class="form-group col-md-4 col-lg-4">
            <label for="services">Services</label>
            <textarea name="services" id="services" rows="1" class="form-control" formControlName="services"></textarea>
          </div>
          <div class="form-group col-md-4 col-lg-4">
            <label for="description">description</label>
            <textarea name="description" id="description" rows="1" class="form-control" formControlName="description"></textarea>
          </div>
          <div class="form-group col-md-4 col-lg-4">
            <label for="contact_person">Contact Person</label>
            <input type="text" name="contact_person" id="contact_person" class="form-control" formControlName="contact_person">
          </div>
          <div class="form-group col-md-4 col-lg-4">
            <label for="contact_person_number">Contact Number</label>
            <input type="tel" name="contact_person_number" id="contact_person_number" formControlName="contact_person_number" class="form-control">
          </div>
          <div class="form-group col-md-4 col-lg-4">
            <button type="reset" class="btn btn-danger">Reset</button>
            <button type="submit" class="btn btn-primary">Save Information</button>
          </div>
        </form>
      </div>




      <!-- component for uploading images -->
      <!-- <div class="col-xs-12" id="uploadImage">
        <div class="uploadImage">
          <div class="form-group col-xs-12">
            <form [formGroup]="imageUpload">
              <label for="category">Category</label>
              <select name="categoryId" id="categoryId" class="form-control" formControlName="categoryId">
                <option value="">No category Selected</option>
                <option *ngFor="let list of categoryLists; let i=index" value="{{list.id}}">{{list.category}}</option>
              </select>
            </form>
          </div>
          <div class="col-md-4">
            <input type="file" (change)="onFileChanged($event)" />

          </div>
        </div>
      </div> -->



      <div class="col-xs-12" id="uploadImage">
        <div class="col-xs-4">
          <form [formGroup]="imageUpload" (submit)="uploadImage()">
            <div class="form-group" *ngIf="imageUploadStatus">
              <h3> <span class="text text-success">{{imageUploadStatus |titlecase}}</span>
              </h3>
            </div>
            <div class="form-group ctg">
              <label for="category">Category</label>
              <select name="categoryId" id="categoryId" class="form-control" formControlName="categoryId" (click)=selectme($event.target.value)>
                <option value="">No category Selected</option>
                <option *ngFor="let list of categoryLists; let i=index" value={{list.id}}>{{list.category}}</option>
                <!-- <a *ngFor="let list of categoryLists; let i=index" value="list.id">{{list.category}}</a> -->
              </select>
            </div>
            <div class="form-group bdg">
              <label for="buildings">Name Of buildings</label>
              <select name="buildings" id="buildings" class="form-control" formControlName="buildings">
                <option value="">No Building Selected</option>
                <option *ngFor="let build of buildings; let i=index" value="{{build.id}}">{{build.name}}</option>
              </select>
            </div>
            <input type="file" (change)="fileChangeEvent($event)"  style="width: 90px;font-size:30px;" />
            <input type="checkbox" name="mainImage" id="mainImage" formControlName="mainImage">Select As Main Image <br>
            <button class="btn btn-success" type="submit" style="margin-top:20px;">Upload Image</button>
          </form>
        </div>
      
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="3 / 3" [resizeToWidth]="128"
            format="png" (imageCroppedBase64)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()">
          </image-cropper>
   
        <div class="col-xs-12">
          <img [src]="croppedImage" />
        </div>
      </div>

      <!-- End of Image Component -->






      <!-- view for managing Categories -->
      <div class="manageCategories" id="manageCategories">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                  Categories
                </th>

                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody *ngIf="categoryLists.length > 0">
              <tr *ngFor="let category of categoryLists; let i=index">
                <td>{{category.category}}</td>
                <td>
                  <i class="fa fa-pencil text-primary"></i>&nbsp;&nbsp;
                  <i class="fa fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- End of Categories Management -->

      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
</div>




<!-- Modal for adding category-->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add Category</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="categoryForm" (submit)="postCategoryData()">
          <div class="form-group">
            <label for="category">Category Name</label>
            <input type="text" name="category" id="category" class="form-control" formControlName="category">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Category</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- modal for viewing information -->
<div class="modal fade" id="viewInformation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">View Information</h4>
      </div>
      <div class="modal-body">
        <label for="name">Name</label>
        <span>{{viewinformation.name}}</span>
        <br>

        <label for="email">Email</label>
        <span>{{viewinformation.email}}</span>
        <br>

        <label for="url">Url</label>
        <span>{{viewinformation.url}}</span>
        <br>

        <label for="address">Address</label>
        <span>{{viewinformation.address}}</span>
        <br>

        <label for="phone">Phone</label>
        <span>{{viewinformation.phone}}</span>
        <br>

        <label for="latitude">Latitude</label>
        <span>{{viewinformation.latitude}}</span>
        <br>

        <label for="longitude">Longitude</label>
        <span>{{viewinformation.longitude}}</span>
        <br>

        <label for="contact_person">Contact Person</label>
        <span>{{viewinformation.contact_person}}</span>
        <br>

        <label for="contact_person_number">Contact Number</label>
        <span>{{viewinformation.contact_person_number}}</span>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- modal for updating information -->
<div class="modal fade" id="updateInformation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Update Information</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="informationForm" (submit)="updateInformation()">
          <input type="hidden" formControlName="updateId" value="">
          <div class="form-group">
            <label for="category">Category</label>
            <select name="categoryId" id="categoryId" class="form-control" formControlName="categoryId">
              <option value="">No category Selected</option>
              <option *ngFor="let list of categoryLists; let i=index" value="{{list.id}}">{{list.category}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" formControlName="name">
          </div>
          <div class="form-group">
            <label for="emal">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" formControlName="email">
          </div>
          <div class="form-group">
            <label for="url">URL</label>
            <input type="text" name="url" id="url" class="form-control" formControlName="url">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" name="phone" id="phone" formControlName="phone" class="form-control">
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" name="address" id="address" formControlName="address" class="form-control">
          </div>
          <div class="form-group">
            <label for="latitude">Latitude</label>
            <input type="text" name="latitude" id="latitude" class="form-control" formControlName="latitude">
          </div>
          <div class="form-group">
            <label for="longitude">Longitude</label>
            <input type="text" name="longitude" id="longitude" class="form-control" formControlName="longitude">
          </div>
          <div class="form-group">
            <label for="services">Services</label>
            <textarea name="services" id="services" rows="1" class="form-control" formControlName="services"></textarea>
          </div>
          <div class="form-group">
            <label for="description">description</label>
            <textarea name="description" id="description" rows="1" class="form-control" formControlName="description"></textarea>
          </div>
          <div class="form-group">
            <label for="contact_person">Contact Person</label>
            <input type="text" name="contact_person" id="contact_person" class="form-control" formControlName="contact_person">
          </div>
          <div class="form-group">
            <label for="contact_person_number">Contact Number</label>
            <input type="tel" name="contact_person_number" id="contact_person_number" formControlName="contact_person_number" class="form-control">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update Information</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for deletion -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Delete Information</h4>
      </div>
      <div class="modal-body">
        <span class="text-primary">Are You Sure To Delete?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="deleteInformation()">Delete</button>
      </div>
    </div>
  </div>
</div>