::-webkit-scrollbar {
    width: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
    background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    }
    .category-panel{
        margin-top: -15px;
    }
    .add-category-btn,.add-information-btn{
        float: right;
        color: #337AB7;
        margin-top: -40px;
    }
    .panel{
        border-radius: 0px;
    }
    .panel-heading{
        border-radius: 0px;
    }
    .navigation-link-container{
        margin-top: -20px;
    }
    .list-group-item:hover{
        background-color: #fff;
        -webkit-transition: -webkit-transform 1s;
	  margin-bottom: 5px;
    transition: ease-in 0.1s;
    transform: scale(1.01);
 box-shadow: 1px 8px 8px rgba(1,67,163,.24), 1px 0 8px rgba(1,67,163,.12), 1px 6px 18px rgba(43,133,231,.12);
    }
    .list-group-item{
        border-radius: 0px;
    }
    
    .navigation-content{
        border-left: none;
        /* margin-left: -30px; */
    }


    #uploadImage{
        position: relative;
    }
    
    image-cropper{
       
     max-width: 25%;
     max-height: 50%;
     /* position: absolute;
     left: 200px;
     top: 200px; */
    }