<!-- footer-page -->
<div class="container footer-container">
    <div class="row">
      <div class="footer col-md-12">
        <div class="footer-header">
          <div class="footer-header-caption">
            <span>Contact us</span>
          </div>
          <div class="footer-credit">
            <span>Softweb Developers</span>
            <br>
            <span>Hetauda-Bazar</span>
          </div>
          <div class="footer-credit-copyright">
            <span>&copy;2018</span>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Footer-page -->