
.footer-header{
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: #384D6C;
    
    margin-top:20px;
    margin-bottom: 20px;

}
.footer-header-caption{
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    color: #FD3753;
}
.footer-credit{
    padding-top:15px;
    padding-bottom: 15px; 
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    font-family: cursive;
}
.footer-credit-copyright{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 15px;
}