.admin-login-form-wrapper{
    width: 50%;
    margin: 0 auto;
    -webkit-box-shadow: 0 7px 4px #777;
	-moz-box-shadow: 0 7px 4px #777;
	box-shadow: 0 2px 4px #777;
}
.admin-login-form{
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    margin-top: 30px;
}
.adm-login-title{
    text-align: center;
}