<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="admin-login-form-wrapper">
        <form [formGroup]="adminLoginForm" class="admin-login-form" (submit)="adminLogin()">

          <div class="form-group adm-login-title">
            <span><h3>Administrative Access Login</h3></span>
          </div>
          <div class="form-group">
            <div class="error-msg" *ngIf="emailError">
              <span class="text text-danger">The E-mail you entered is incorrect</span>
            </div>
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" formControlName="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" formControlName="password">
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>